<div class="container chatroom">
  <h1 class="mb-2">Welcome to your Chatroom #<%= @chatroom.ticket.id %></h1>
  <h3 class="mb-5"> Ticket : <%= @chatroom.ticket.content %></h3>
  <div class="messages mb-4">
    <% @chatroom.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.email_address %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <div class="mb-5">
    <%= simple_form_for([@chatroom, @message]) do |f| %>
      <%= f.input :content, label: "New Message" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

  </div>
  <button>Resolved</button>
  <button>Reassign</button>
</div>
