<%if user_signed_in?  %>
  <%= render 'shared/vertical_navbar'%>
  <div class="container-fluid moved" data-controller="explorer">
<% else %>
  <div class="container-fluid">
<% end %>

  <% if user_signed_in? %>
    <div class="row ticket-header ">
      <div class="col-2">
        <%= link_to "Back to Tickets", tickets_path, class: "btn btn-primary", style: "width: 100%" %>
      </div>

      <div class="col-8 text-center">
        <h1>Ticket #<%= @chatroom.ticket.id %> : <%= @chatroom.ticket.subject.capitalize %></h1>
      </div>

      <div class="col-2">
        <%= button_to "Close Ticket", ticket_path(@chatroom.ticket), method: :patch, params: { ticket: { status: 'closed' } }, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="row ticket-infos">
      <div class="col-3">
        <div class="card-body col-12" >
          <p class="hidescroll" ><strong>Requester :</strong> <%= @chatroom.ticket.client_email %></p>
        </div>
      </div>
      <div class="col-3">
        <div class="card-body" >
          <p class="hidescroll"><strong>Wallet :</strong> <%= @chatroom.ticket.wallet_address %></p>
        </div>
      </div>
      <div class="col-6">
        <%= simple_form_for :search, class: "col-6", data: { action: "click->explorer#search" } do |f| %>
          <div class="search-form-control form-group">
            <%= f.input :query, label: false, input_html: { data: { "explorer-target": "sourceInput"} }, class: "form-control", placeholder: "Enter your client's wallet/transactions informations here"%>
            <%# <div class="loader" data-explorer-target="loader"></div> %>
            <%= f.button :button, type:"submit", class: "btn btn-primary" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="row ticket-header">
      <% if @chatroom.ticket.user != nil %>
        <h1 class="mb-4 text-center"><%= @chatroom.ticket.user.first_name %> is here to help!</h1>
      <% else %>
        <h1 class="mb-4 text-center">Welcome to your LiveChat, an agent will be with you soon 🕑</h1>
      <% end %>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <div class="card-body col-12">
          <p class="hidescroll"><strong>Your email :</strong> <%= @chatroom.ticket.client_email %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="card-body">
          <p class="hidescroll"><strong>Wallet :</strong> <%= @chatroom.ticket.wallet_address %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="card-body col-12" >
          <p class="hidescroll"><strong>Your issue :</strong> <%= @chatroom.ticket.content %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-8 messages-container m-2"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    >
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <div class="col-3 new-message-container m-2">
    <%= simple_form_for([@chatroom, @message]) do |f| %>
  <div class="form-group">
    <%= f.input :content, label: "New Message", input_html: { class: "form-control", style: "width: 100%; height: 370px;" } %>
  </div>
  <%= f.submit "Send", class: "btn btn-flat" %>
<% end %>

    </div>
  </div>
</div>
