<div class="navbar-expand-sm navbar-light vertical-navbar">
  <div class="container-fluid h-100">
    <ul class="nav flex-column mt-4 align-items-center">
      <li class="nav-item active">
        <%= link_to account_path, class: "nav-link fs-1" do %>
          <% if @current_user.photo.key.nil? %>
            <%= image_tag asset_path("avatar_placeholder.png"), class: "avatar-small" %>
          <% else %>
            <%= cl_image_tag @current_user.photo.key, class: "avatar-small", alt: "avatar", crop: :fill%>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to  "/", class: "nav-link fs-1" do %>
        <i class="fa-solid fa-house fa-2xs"></i>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to  tickets_path, class: "nav-link fs-1" do %>
        <i class="fa-regular fa-message fa-2xs"></i>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to  destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link fs-1" do %>
        <i class="fa-solid fa-right-from-bracket fa-2xs"></i>
        <% end %>
      </li>
      <li class="nav-item">
       <%= link_to  account_path, class: "nav-link fs-1" do %>
       <i class="fa-solid fa-gear fa-2xs"></i>
       <% end %>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto flex-column">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
