<div class="navbar navbar-expand-sm navbar-light vertical-navbar">
  <div class="container-fluid flex-column align-items-start justify-content-cenbetweenter h-100">
    <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% unless @current_user.photo.key.nil? %>
        <%= cl_image_tag @current_user.photo.key, class: "avatar", alt: "dropdown menu", crop: :fill%>
      <% end %>
      <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier",  %>
    </a>

    <ul class="nav flex-column">
      <li class="nav-item active">
        <%= link_to  "/", class: "nav-link fs-1" do %>
        <i class="fa-solid fa-house"></i>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to  tickets_path, class: "nav-link fs-1" do %>
        <i class="fa-brands fa-bitcoin fa-lg"></i>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to  destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link fs-1" do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </li>
      <li class="nav-item">
       <%= link_to  account_path, class: "nav-link fs-1" do %>
       <i class="fa-solid fa-gear"></i>
       <% end %>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto flex-column">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
