<%= render 'shared/vertical_navbar'%>

<div class="container-fluid moved">
  <div class="row justify-content-center">
    <div class="col-xs-12 ms-4 mt-4">
        <div class="account-card">
          <h2 class="mb-4">My Account</h2>
          <div class="image">
            <% unless @current_user.photo.key.nil? %>
              <%= cl_image_tag @current_user.photo.key, height: 100, width: 100, crop: :fill%>
            <% end %>
          </div>
          <p><strong>First Name: </strong><%= @current_user.first_name %></p>
          <p><strong>Last Name: </strong><%= @current_user.last_name %></p>
          <p><strong>Email: </strong><%= @current_user.email %></p>
          <%= link_to 'Edit Account Info', edit_user_registration_path, class: 'btn btn-primary mt-3' %>
        </div>
    </div>
  </div>
</div>
