<div class="container" data-controller="wallet" >

  <div class="d-flex justify-content-center my-3">
    <h1>Contact Support</h1>
  </div>

  <div class="d-flex justify-content-center my-3">
    <button type="button" data-action="click->wallet#open" class="btn btn-primary">Connect Wallet</button>
  </div>

  <!-- Modal -->
  <div data-wallet-target="modal" class="modal fade" id="walletModalCenter" tabindex="-1" role="dialog" aria-labelledby="Wallet modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Metamask</button>
          <button type="button" class="btn btn-primary">Phantom</button>
          <button type="button" class="btn btn-primary">Wallet Connect</button>
      </div>
    </div>
  </div>


  <%= simple_form_for(@ticket) do |f| %>
   <%= f.error :base %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :wallet_address, :label => 'Wallet Address' %>
      <%= f.input :client_email, :label => 'Your email' %>
      <%= f.input :content, :label => 'Message' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-primary mt-3", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
