<div class="container" data-controller="wallet" data-wallet-project-id-value="<%= ENV['PROJECT_ID'] %>">

  <div class="d-flex justify-content-center my-3">
    <h1>Contact Support</h1>
  </div>
  <div class="d-flex justify-content-center my-3">
    <button data-wallet-target="buttonOpen" data-action="click->wallet#openModal" class="btn btn-flat">Connect Wallet</button>
  </div>

<div class="d-flex align-items-center justify-content-center  my-3">

  <section data-wallet-target="modal" class="modal hidden">
    <div class="flex">
      <button data-wallet-target="buttonClose" data-action="click->wallet#closeModal" class="btn-close">X</button>
    </div>


      <button data-action="click->wallet#metamaskConnect" class="btn btn-primary">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div><img height="30px" size="24" src="https://opensea.io/static/images/logos/metamask-fox.svg" alt="Metamaks Fox"></div>
          <div class="mx-5">Metamask</div>
        </div>
      </button>
      <button data-action="click->wallet#phantomConnect" class="btn btn-primary">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div><img height="30px" size="24" src="https://opensea.io/static/images/logos/phantom.svg" alt="Phantom Ghost"></div>
          <div class="mx-5">Phantom</div>
        </div>
      </button>
      <button data-action="click->wallet#walletConnect" class="btn btn-primary">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div><img height="30px" size="24" src="https://static.opensea.io/logos/walletconnect-alternative.png" alt="Wallet Connect"></div>
          <div class="mx-3">Wallet Connect</div>
        </div>
      </button>
      <button data-action="click->wallet#exodusConnect" class="btn btn-primary">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div><img height="30px" size="24" src="https://www.exodus.com/brand/img/logo.svg" alt="Exodus Logo"></div>
          <div class="mx-5">Exodus</div>
        </div>
      </button>
      <button data-action="click->wallet#keplrConnect" class="btn btn-primary">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div><%= image_tag "keplr.svg", style: 'height:30px;size:24;' %></div>
          <div class="mx-5">Keplr Wallet</div>
        </div>
      </button>
  </section>

  <div data-wallet-target="overlay" data-action="click->wallet#closeModal" class="overlay hidden"></div>

</div>

  <%= simple_form_for(@ticket) do |f| %>
   <%= f.error :base %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :wallet_address, label: 'Wallet Address', input_html: { data: {wallet_target: "address"}, style: 'color: black;' } %>
      <%= f.input :client_email, :label => 'Your email' %>
      <%= f.input :subject, :label => 'Topic of the ticket' %>
      <%= f.input :content, :label => 'Message' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-flat mt-3"%>
    </div>
  <% end %>
</div>
