<div class="container" data-controller="wallet" data-wallet-project-id-value="<%= ENV['PROJECT_ID'] %>">

  <div class="d-flex justify-content-center my-3">
    <h1>Contact Support</h1>
  </div>
  <div class="d-flex justify-content-center my-3">
    <button data-wallet-target="buttonOpen" data-action="click->wallet#openModal" class="btn btn-open">Connect Wallet</button>
  </div>

<div class="d-flex align-items-center justify-content-center  my-3">

  <section data-wallet-target="modal" class="modal hidden">
    <div class="flex">
      <button data-wallet-target="buttonClose" data-action="click->wallet#closeModal" class="btn-close">X</button>
    </div>
    <button data-action="click->wallet#" class="btn">Metamask</button>
    <button data-action="click->wallet#phantomConnect" class="btn">Phantom</button>
    <button data-action="click->wallet#walletConnect" class="btn">Wallet Connect</button>
    <button data-action="click->wallet#" class="btn">Exodus</button>
  </section>

  <div data-wallet-target="overlay" data-action="click->wallet#closeModal" class="overlay hidden"></div>

</div>

  <%= simple_form_for(@ticket) do |f| %>
   <%= f.error :base %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :wallet_address, label: 'Wallet Address', input_html: { data: {wallet_target: "address"} } %>
      <%= f.input :client_email, :label => 'Your email' %>
      <%= f.input :subject, :label => 'Topic of the ticket' %>
      <%= f.input :content, :label => 'Message' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-primary mt-3", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
