<!DOCTYPE html>
<html>
  <head>
    <title>ChainCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ChainCare</title>
    <meta name="description" content="Seamless Support for Web3">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="ChainCare">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="logo.png">
    <meta property="og:description" content="Seamless Support for Web3">
    <meta property="og:site_name" content="ChainCare">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@twitter">
    <meta name="twitter:title" content="ChainCare">
    <meta name="twitter:description" content="Seamless Support for Web3">
    <meta name="twitter:creator" content="@twitter">
    <meta name="twitter:image:src" content="logo.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <div class="<%= 'd-flex' if !current_page?(root_path) %>">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Add the Popper.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Add the Bootstrap JavaScript file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
